<div id="cass-coverimagecontrol">
    <label class="btn btn-sm btn-file btn-solid state-visible" for="cass-coverfiles"><span>{{#str}}changecoverimage, theme_cass{{/str}}</span>
       <input id="cass-coverfiles" name="cass-coverfiles[]" type="file" accept="{{accepttypes}}"/>
    </label>
    <div id="cass-changecoverimageconfirmation">
        <button class="btn btn-sm btn-solid ok">{{#str}}save, admin{{/str}}</button>
        <button class="btn btn-sm btn-link cancel">{{#str}}cancel, moodle{{/str}}</button>
    </div>
</div>
