<div id="cass-pm" class="cass-pm-login-form" tabindex="-1">
    <div id="cass-pm-inner">

        <header id="cass-pm-header" class="clearfix">
            <div class="pull-right">
                <a id="cass-pm-close" class="js-cass-pm-trigger cass-action-icon cass-icon-close" href="#">
                        <small>{{#str}}closebuttontitle{{/str}}</small>
                </a>
            </div>
            <h1>{{#str}}login{{/str}}</h1>
        </header>
        <div id="cass-pm-content">
            <form action='{{action}}'  method='post'>
                <div class="form-group">
                    <label class="form-control-label" for='username' >{{#str}}username{{/str}}</label>
                    <input class="form-control" autocapitalize='off' type='text' name='username' id='username' required>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for='password'>{{#str}}password{{/str}}</label>
                    <input class="form-control" type='password' name='password' id='password' required>
                </div>
                <br>
                <input type='submit' class="btn btn-primary btn-block" value='{{#str}}login{{/str}}'>
            </form>
            {{#altlogins}}
            <br><hr><br>
                {{{.}}}
            {{/altlogins}}
            <div id="cass-pm-login-help">
                <a class="btn btn-primary" href="{{action}}"><i class="fa fa-info-circle" aria-hidden="true"></i> {{#str}}help{{/str}}</a>
            </div>
        </div>
    </div>
</div>
